**/__pycache__/
**/.ipynb_checkpoints/
**/docs/_build/
*.DS_Store*
*DS_Store
**/benchmark_scripts/
**/Module_Tests/
**/comparison_scripts/
*.egg-info/

# Personal design notes / scratch (not version-controlled)
scratch/
